﻿{% extends 'pages/base.html' %}
{%block head %}
<title>{{title}}</title>
{%endblock %}
{% block body %}
<p>
<h2>{{my_text|capfirst|upper }}</h2>
<br />
{{number_ }}
</p>
<ul>
    {%for item in my_list%}
    {%if item == 23 %}
     <li>{{forloop.counter}}->{{item|add:21}} </li>
    {%elif item == "sth" %}
     <li>{{forloop.counter}}->This is localhost </li>
    {%else %}
    <li>{{forloop.counter}}->{{item}} </li>
    {%endif%}
    {%endfor%}
</ul>


<p>
    {{my_html|safe}}
</p>
{%endblock%}
