﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    {%block head%} {%endblock%}
</head>
<body>
    {% include 'pages/navbar.html' %}
    {%block body%} {%endblock%}
</body>
</html>